<div>
    <h1>Welcome to the Product Management System</h1>
    <button routerLink="/products/create">Create New Product</button>
    <div *ngFor="let product of userProducts">
      <h2>{{ product.name }}</h2>
      <p>Price: {{ product.price.amount }} {{ product.price.currency }}</p>
      <p>Size: {{ product.size.height }}x{{ product.size.width }}x{{ product.size.weight }} {{ product.size.measurement }}</p>
      <button [routerLink]="['/products/edit', product.pid]">Edit</button>
    </div>
  </div>
  