<div class="edit-product-container">
    <h2>Edit Product</h2>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [value]="product?.name">
      <br>
      <label for="price">Price:</label>
      <input type="text" id="price" name="price" [value]="product?.price">
      <br>
      <label for="size">Size:</label>
      <input type="text" id="size" name="size" [value]="product?.size">
      <br>
      <button type="submit">Save</button>
    </form>
    <a routerLink="/products">Back to Products</a>
  </div>
  