<div class="register-container">
    <h2>Register</h2>
    <form>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName">
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName">
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <br>
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone">
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br>
      <button type="submit">Register</button>
    </form>
    <a routerLink="/login">Login</a>
  </div>
  